<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">Cases</h3>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="datatable_filter" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Case Number</th>
                            <th>Subject</th>
                            <th>Priority</th>
                            <th>Reason</th>
                            <th>CreatedDate</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cases.each do |case_| %>
                        <tr>
                            <td><%= link_to case_path(case_.Id) do %><%= case_.CaseNumber %><% end %></td>
                            <td><%= case_.Subject %></td>
                            <td><%= case_.Priority %></td>
                            <td><%= case_.Reason %></td>
                            <td><%= Date.parse(case_.CreatedDate).strftime('%A %d %B %Y') %></td>
                            <td>
                                <%= link_to edit_case_path(case_.Id)  do %>
                                    <i class="glyphicon glyphicon-edit" ></i>
                                <% end %>
                                <%= link_to case_path(case_.Id),
                                    :method => :delete ,
                                    :data => { :confirm => "Are you sure?" } do %>
                                    <i class="glyphicon glyphicon-remove" ></i>
                                <% end %>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>