
<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-blue">
            <div class="inner">
                <h3>
                    <%= @contacts.count %>
                </h3>
                <p>
                    Contacts
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-cart-outline"></i>
            </div>
            <%= link_to contacts_path, :class=>"small-box-footer" do %>
                See All <i class="fa fa-arrow-circle-right"></i>
            <% end %>
        </div>
    </div><!-- ./col -->
    
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green">
            <div class="inner">
                <h3>
                    <%= @accounts.count %>
                </h3>
                <p>
                    Accounts
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-ios7-contact"></i>
            </div>
            <%= link_to accounts_path, :class=>"small-box-footer" do %>
                See All <i class="fa fa-arrow-circle-right"></i>
            <% end %>
        </div>
    </div><!-- ./col -->
    <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
            <div class="inner">
                <h3>
                    <%= @cases.count %>
                </h3>
                <p>
                    Cases
                </p>
            </div>
            <div class="icon">
                <i class="ion ion-document-text"></i>
            </div>
            <%= link_to cases_path, :class=>"small-box-footer" do %>
                See All <i class="fa fa-arrow-circle-right"></i>
            <% end %>
        </div>
    </div><!-- ./col -->
</div><!-- /.row -->
<div class="box box-solid bg-teal-gradient">
    <div class="box-header">
        <i class="fa fa-th"></i>
        <h3 class="box-title">Sales Graph</h3>
        <div class="box-tools pull-right">
            <button class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
            <button class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <div class="box-body border-radius-none">
        <div class="chart" id="line-chart" style="height: 250px;"></div>                                    
    </div><!-- /.box-body -->
    <div class="box-footer no-border">
        <div class="row">
            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <input type="text" class="knob" data-readonly="true" value="20" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">Mail-Orders</div>
            </div><!-- ./col -->
            <div class="col-xs-4 text-center" style="border-right: 1px solid #f4f4f4">
                <input type="text" class="knob" data-readonly="true" value="50" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">Online</div>
            </div><!-- ./col -->
            <div class="col-xs-4 text-center">
                <input type="text" class="knob" data-readonly="true" value="30" data-width="60" data-height="60" data-fgColor="#39CCCC"/>
                <div class="knob-label">In-Store</div>
            </div><!-- ./col -->
        </div><!-- /.row -->
    </div><!-- /.box-footer -->
</div><!-- /.box -->  

<div class="row">
    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
        <input type="text" class="knob" value="<%= number_to_percentage(@percentage_opportunities, precision: 2) %>" data-skin="tron" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120" data-fgColor="#f56954"/>
        <div class="knob-label">Probability Success</div>
    </div><!-- ./col -->
    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
        <input type="text" class="knob" value="<%= number_to_percentage(@percentage_opportunities, precision: 2) %>" data-skin="tron" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120" data-fgColor="#932ab6"/>
        <div class="knob-label">Probability Success</div>
    </div><!-- ./col -->
    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
        <input type="text" class="knob" value="<%= number_to_percentage(@percentage_opportunities, precision: 2) %>" data-skin="tron" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120" data-fgColor="#00a65a"/>
        <div class="knob-label">Probability Success</div>
    </div><!-- ./col -->
    <div class="col-md-3 col-sm-6 col-xs-6 text-center">
        <input type="text" class="knob" value="<%= number_to_percentage(@percentage_opportunities, precision: 2) %>" data-skin="tron" data-thickness="0.2" data-angleArc="250" data-angleOffset="-125" data-width="120" data-height="120" data-fgColor="#00c0ef"/>
        <div class="knob-label">Probability Success</div>
    </div><!-- ./col -->
</div><!-- /.row -->
    
